@import "reset";
@import "variables/global";
@import "colors/colors_light";
@import "../assets/fonts/Gilroy/stylesheet.scss";

body {
    font: var(--font-m);
    color: var(--text-price);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
