:root {
  --bg-color: #F5F5F5;
  --bg-check: #FFFFFF;
  --text-price: #A0A0A0;
  --subtitle-text: #00923A;
  --date-time: #A0A0A0;
  --main-color: #34343E;
  --box-shadow: 0px 2px 10px rgba(52, 52, 62, 0.24);
}